page-legislation {
.empty_item {
 
  div {
      padding-top: 80px 0;
      text-align: center;
      align-content: center;
      p {
       font-size: 50px;

     }
}

}

        ion-card-header {
            font-weight: bold;
        }
}
