<ion-header>
  <ion-navbar>
    <ion-title>Mot de passe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
  <ion-card-content>
   <p>
     Changer le mot de passe utilisateur.
    </p>
  </ion-card-content>
</ion-card>  
  <ion-list inset>
 <form #form="ngForm" (ngSubmit)="onSubmit(ngForm)"  novalidate>
      <ion-item>
        <ion-label floating color="primary">Mot de passe</ion-label>
        <ion-input [(ngModel)] = "user.password" type="password" name="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="primary">Confirmez le mot de passe</ion-label>
        <ion-input [(ngModel)] = "user.repassword" type="password" name="repassword"   #repassword="ngModel" required>
        </ion-input>
      </ion-item>
      <div padding>
        <button ion-button full round color="primary" class="tangoAnimate quick tangoCentre" class="tangoAnimate quick tangoCentre"  [disabled]="isInvalid()|| submitted" type="submit"  [ngClass]="setClass()">
            <span *ngIf="!submitted" >Mettre à jour</span>
            <ion-spinner [color]="spinnerColor" *ngIf="submitted"></ion-spinner>
      </button>
      </div>
 </form>
 </ion-list>
</ion-content>
