accordion-list {
    .nomargin {
        margin: 0 !important;
    }

    .accordion-header {
        color:   map-get($colors, primary); 

        .item-inner {
            margin-left: 0 !important;
        }

        ion-icon {
            transition: all .25s ease-in;
            transform: rotate(0);
        }
        &.active ion-icon {
        transform: rotate(90deg);
    }
    }



    .accordion-content {
        transition: 0.25s ease-in;
        &.active {
            padding: .75rem;
        }
    }

    .label {
        margin: 0px;
    }
}
