
<ion-header>
  <header-component [text]="'Les sous-systèmes'" [displayed]="displayed"></header-component>  
</ion-header>
<ion-content>
<ion-list inset *ngIf="systemes &&  displayed" > 
   <ion-item *ngFor="let systeme of systemes" (click)="newReparation(systeme)" text-wrap no-padding lisf-of-maintenance [displayed]="displayed" [systeme]="systeme">
    <ion-avatar item-left>
      <img [src]="systeme.thumburl" [alt]="">
    </ion-avatar>
    <h2>{{systeme.nom}}</h2> 
  <p *ngIf="systeme.maintenances && systeme.maintenances.length">
    <span *ngIf="systeme.maintenances.length>1">{{systeme.maintenances.length}} réparations</span>
    <span *ngIf="systeme .maintenances.length==1">une seule réparation</span>
    <span *ngIf="systeme.maintenances.length">Cout total: {{systeme.cout}} {{devise}}</span>
  </p>
  <p *ngIf="!(systeme.maintenances&&systeme.maintenances.length)">
   Aucune opération
  </p>
    <ion-spinner name="dots" item-right *ngIf="!systeme.loaded"></ion-spinner>
  </ion-item> 
</ion-list>
<ion-list *ngIf="!displayed" class="empty">
<ion-item text-wrap no-lines>
   <p><ion-icon color="light" name="md-list"></ion-icon></p>
    <ion-note item-center>Selectionnez un véhicule pour afficher les informations.</ion-note>
 </ion-item>
 <div padding>
  <button ion-button  icon-right menuToggle>selectionner un véhicule<ion-icon name="ios-car"></ion-icon></button>      
 </div> 
 </ion-list>
</ion-content>
